<a href="https://colab.research.google.com/github/ndungu96/IP-wk-4-electric-car-sharing-service-company/blob/main/Electric_Car_Sharing_Service_Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Importing Pandas
#
import pandas as pd

#Importing Numpy
#
import numpy as np

In [15]:
# Creating a Dataframe from Telcom_dataset.csv file
#

df_ec = pd.read_csv('/content/Autolib_dataset.csv', delimiter = ',')
df_ec.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [16]:
# Accesssing the info about the dataset
#
df_ec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [17]:
# Listing the columns in a numPy array
#
df_ec.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [18]:
#  Counting the no. of missing values
#
np.count_nonzero(df_ec.isnull())

9842

In [19]:
# Checking the missing values in individual columns in our dataframe
#
num_rows = df_ec.shape[0]
num_missing = num_rows - df_ec.count() 
num_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [20]:
# Drop the columns that have missing values

df_ec_2 = df_ec.drop(columns = ['Displayed comment', 'Scheduled at'])
df_ec_2

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [21]:
# Dropping other unnecessary columns that we don't need in our dataframe 
#
df_ec_3 = df_ec_2.drop(columns = ['Cars', 'Address', 'Geo point'])
df_ec_3

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 20 columns]

The cars column is redundant with Bluecar counter, always the same value.
So the cars column can be removed.

In [22]:
# Identify if there are any duplicates
#
df_ec_3.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

There are no duplicates

In [23]:
# Removing white spaces, converting to upper case in all columns
#
df_ec_3.columns = df_ec_3.columns.str.strip().str.upper().str.replace(' ', '_')
df_ec_3

      BLUECAR_COUNTER  UTILIB_COUNTER  UTILIB_1.4_COUNTER  ...  DAY HOUR MINUTE
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 20 columns]

In [24]:
#  The most popular hour of the day for picking up a shared electric car (Bluecar)
#
pop_hr = df_ec_3 [(df_ec_3.STATUS == 'ok')]

pop_hr.groupby(['HOUR'])['BLUECAR_COUNTER'].count().sort_values(ascending = True).head(5)

HOUR
1     177
0     179
22    183
10    183
4     184
Name: BLUECAR_COUNTER, dtype: int64

**The most popular hours to pick up a Bluecar is between 1pm - 2pm**

In [25]:
# QN 1

# The most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018.
#

pop_hr_paris = df_ec_3 [(df_ec_3.STATUS == 'ok') & (df_ec_3.CITY == 'Paris')]

pop_hr_paris.groupby(['HOUR'])['BLUECAR_COUNTER'].count().sort_values(ascending = True).head(3)

HOUR
11     98
1      98
14    100
Name: BLUECAR_COUNTER, dtype: int64

**The most popular hours to pick up a Bluecar in Paris is between 11am - 2pm**

In [26]:
# QN 2

# What is the most popular hour for returning cars?
#
df_ec_3.groupby(['HOUR'])['BLUECAR_COUNTER'].count().sort_values(ascending = False).head(5)

HOUR
21    237
9     221
16    220
6     219
7     219
Name: BLUECAR_COUNTER, dtype: int64

**The most popular hour to return cars is between 9pm - 10pm**

In [27]:
# QN 3A

# What station is the most popular?
#
df_ec_3.groupby(['PUBLIC_NAME'])['SLOTS'].count().sort_values(ascending = False).head(1)

PUBLIC_NAME
Paris/Porte de Montrouge/8    13
Name: SLOTS, dtype: int64

In [28]:
# QN 3B

# What station is the most popular at the most popular picking hour?
#
pop_p_hr = df_ec_3 [(df_ec_3.HOUR == 1)]

pop_p_hr.groupby(['PUBLIC_NAME'])['SLOTS'].count().sort_values(ascending = False).head(16)

PUBLIC_NAME
Paris/Fernand Labori/1                      2
Paris/Ivry/3                                2
Neuilly-Plaisance/Georges ClÃ©menceau/25    2
Paris/Adolphe Mille/8                       2
Paris/Victor Hugo/93                        2
Paris/Mithouard/6                           2
Fontenay-aux-Roses/Robert Marchand/32       2
Paris/Ãmile Augier/20                      2
Paris/Miollis/21                            2
Paris/Malher/13                             2
Montreuil/Franklin/18                       2
Colombes/MarÃ©chal Joffre/30                2
CrÃ©teil/Denfert Rochereau/12               2
Paris/PyrÃ©nÃ©es/356                        2
Paris/Gay-Lussac/66                         2
Arcueil/Marcel Vigneron/30                  2
Name: SLOTS, dtype: int64

In [29]:
# QN 4A

# What postal code is the most popular for picking up Blue cars? 
#
pop_pcode = df_ec_3[(df_ec_3.STATUS == 'ok')]

pop_pcode.groupby(['POSTAL_CODE'])['BLUECAR_COUNTER'].count().sort_values(ascending = True).head(3)

POSTAL_CODE
94100    2
91400    4
92110    4
Name: BLUECAR_COUNTER, dtype: int64

The most popular postal code is **'94100'**

In [30]:
# QN 4B

# Does the most popular station belong to that postal code?
#
df_ec_3.groupby(['PUBLIC_NAME'])['BLUECAR_COUNTER'].count().sort_values(ascending = True).head(3)

PUBLIC_NAME
Paris/Jean Veber/3            1
Paris/Pirogues de Bercy/44    1
Meudon/Ponceau/2              1
Name: BLUECAR_COUNTER, dtype: int64

In [31]:
# QN 4C

# At the most popular picking hour?
#
pop_pcode = df_ec_3[(df_ec_3.STATUS == 'ok') & (df_ec_3.HOUR == 1)]

pop_pcode.groupby(['POSTAL_CODE'])['BLUECAR_COUNTER'].count().sort_values(ascending = True).head(10)

POSTAL_CODE
92230    1
92170    1
92190    1
92200    1
92220    1
92270    1
92340    1
92800    1
93170    1
92000    1
Name: BLUECAR_COUNTER, dtype: int64

In [32]:
#  The most popular hour of the day for picking up a Utilib
#
pop_hr_u = df_ec_3 [(df_ec_3.STATUS == 'ok')]

pop_hr_u.groupby(['HOUR'])['UTILIB_COUNTER'].count().sort_values(ascending = True).head(5)

HOUR
1     177
0     179
22    183
10    183
4     184
Name: UTILIB_COUNTER, dtype: int64

**The most popular hours to pick up a Utilib is between 1am - 2am**

In [33]:
# What is the most popular hour for returning a Utilib?
#

df_ec_3.groupby(['HOUR'])['UTILIB_COUNTER'].count().sort_values(ascending = False).head(5)

HOUR
21    237
9     221
16    220
6     219
7     219
Name: UTILIB_COUNTER, dtype: int64

**The most popular hour to return Utilib is between 9pm - 10pm**

In [34]:
#  The most popular hour of the day for picking up a Utilib 1.4
#
pop_hr_u = df_ec_3 [(df_ec_3.STATUS == 'ok')]

pop_hr_u.groupby(['HOUR'])['UTILIB_1.4_COUNTER'].count().sort_values(ascending = True).head(5)

HOUR
1     177
0     179
22    183
10    183
4     184
Name: UTILIB_1.4_COUNTER, dtype: int64

**The most popular hours to pick up a Utilib 1.4 is between 1am - 2am**

In [35]:
# What is the most popular hour for returning a Utilib 1.4?
#

df_ec_3.groupby(['HOUR'])['UTILIB_1.4_COUNTER'].count().sort_values(ascending = False).head(5)

HOUR
21    237
9     221
16    220
6     219
7     219
Name: UTILIB_1.4_COUNTER, dtype: int64

**The most popular hour to return Utilib 1.4 is between 9pm - 10pm**